# Python & Data

In [ ]:
''' Opdracht 1.
- Importeer Pandas
- Laad california_housing_train.csv in (werkt alleen in Google Colab)'''
import pandas as pd

# df is dataframe afgekort
df = pd.read_csv('/content/sample_data/california_housing_train.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
''' Opdracht 2. Bestanden omzetten. Sla het california_housing_train.csv bestand op als Excel'''

In [ ]:
''' Opdracht 3.
- Maak een DF (boodschappen_df) van de dictionary en laat het zien'''
data = {'groeten':['spinazie', 'aubergine'],
        'fruit':['appel', 'peer'],
        'drank':['water', 'limonade']}
# Antwoord hier:
boodschappen_df = pd.DataFrame(data)
boodschappen_df

     groeten  fruit     drank
0   spinazie  appel     water
1  aubergine   peer  limonade

In [ ]:
''' Opdracht 4. Transpose boodschappen_df omschrijf in een comment wat er gebeurd'''
# Antwoord hier:
boodschappen_df.T
# Columns worden rijen en rijen worden columns

                0          1
groeten  spinazie  aubergine
fruit       appel       peer
drank       water   limonade

In [ ]:
''' Opdracht 5.
- Maak een DF (boodschappen_df) van de lijsten en laat het zien'''
data = [['spinazie', 'peer', 'water'], 
        ['aubergine', 'appel', 'limonade'],
        ['artisjok', 'meloen', 'ginger ale']]
columns = ['groeten', 'fruit', 'drank']
# Antwoord hier:
boodschappen_df = pd.DataFrame(data, columns=columns)
boodschappen_df

     groeten   fruit       drank
0   spinazie    peer       water
1  aubergine   appel    limonade
2   artisjok  meloen  ginger ale

In [ ]:
''' Opdracht 6. Voeg een extra column toe met toiletartikelen aan boodschappen_df'''
toiletartikelen = ['tandenborstel', 'wc-papier', 'shampoo']
# Antwoord hier:
boodschappen_df['toiletartikelen'] = toiletartikelen
boodschappen_df

     groeten   fruit       drank toiletartikelen
0   spinazie    peer       water   tandenborstel
1  aubergine   appel    limonade       wc-papier
2   artisjok  meloen  ginger ale         shampoo

In [ ]:
''' Opdracht 7. Vervang de toiletartikelen voor boodschappen_df op twee manieren
Tip: dataset[key] = dataset.key'''
toiletartikelen = ['scheerschuim', 'wc-papier', 'douchegel']
# Antwoord hier:
boodschappen_df['toiletartikelen'] = toiletartikelen
boodschappen_df.toiletartikelen = toiletartikelen
boodschappen_df

     groeten   fruit       drank toiletartikelen
0   spinazie    peer       water    scheerschuim
1  aubergine   appel    limonade       wc-papier
2   artisjok  meloen  ginger ale       douchegel

In [ ]:
''' Opdracht 8. Voeg nog een column (naam='kruiden') toe tussen groenten en fruit
Tip: gebruik insert'''
kruiden = ['peper', 'zout', 'paprika poeder']
# Antwoord hier:
boodschappen_df.insert(1, "kruiden", kruiden)
boodschappen_df

     groeten         kruiden   fruit       drank toiletartikelen
0   spinazie           peper    peer       water    scheerschuim
1  aubergine            zout   appel    limonade       wc-papier
2   artisjok  paprika poeder  meloen  ginger ale       douchegel

In [ ]:
''' Opdracht 9. Voeg aan alle waardes " | Huismerk" toe aan het einde van elk product'''
# Antwoord hier:
boodschappen_df.apply(lambda x: x + ' | Huismerk')

,groeten,kruiden,fruit,drank,toiletartikelen
0,spinazie | Huismerk,peper | Huismerk,peer | Huismerk,water | Huismerk,scheerschuim | Huismerk
1,aubergine | Huismerk,zout | Huismerk,appel | Huismerk,limonade | Huismerk,wc-papier | Huismerk
2,artisjok | Huismerk,paprika poeder | Huismerk,meloen | Huismerk,ginger ale | Huismerk,douchegel | Huismerk